/* ======================================
    

    Author: Nahidul Ialam Rafi
    website: example.com
    mail: nahidulrafidps@gmail.com


====================================== */

/*

    =====index=====
    1. Header
    2. Fusce at          
    3. Facilisis          
    4. Ante donec          
    5. Blandit rhoncus          
    6. Placerat
    7. Footer 

*/

/* 

    === Colors ===
    1. #edeff1
    2. #dd4b2b
    3. #31353e
    4. #4b4e73
    5. #d75d0e 

    === Fonts ===
    1. Roboto Slab (Light, Regular, Bold)
*/

/* Theme CSS */

/* Global CSS */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto Slab", serif;
}
h4 {
  font-size: 26px;
}
p {
  font-size: 14px;
  font-weight: 300;
}
.button-def {
  border-radius: 30px;
  font-size: 18px;
  color: #612316;
  background-color: white;
  padding: 10px 46px;
  border: none;
  transition: 0.4s ease-in-out;
}
.button-def:hover {
  color: white;
  background-color: #612316;
}
/* Nav Section */
.cstm-navbar {
  background-color: #edeff1;
  padding-top: 20px 0px;
}
.nav-link {
  color: #4b4e73;
  transition: 0.4s ease-in-out;
}
.nav-link.active {
  background-color: #dd4b2b;
  color: white;
  padding: 8px 26px !important;
  border-radius: 25px;
}
.nav-link:hover {
  color: #612316 !important;
}

/* Header Section */
header {
  background-image: url(../assets/banner.jpg);
  background-size: cover;
  color: white;
  padding-top: 300px;
  position: relative;
  padding-bottom: 150px;
}

.food-menu {
  padding: 100px 0px 50px;
}
.food-item {
  padding: 0px 40px;
}
.food-item h4 {
  font-size: 26px;
  padding-top: 25px;
}
.food-item p {
  font-size: 14px;
  padding-top: 20px;
  text-align: center;
  font-weight: 400;
}
.header-btn {
  border-radius: 30px;
  font-size: 18px;
  color: #612316;
  padding: 10px 46px;
}

/* Fusce Section */
.fusce {
  background-color: #edeff1;
  padding: 70px 0px;
}
.fusce-title {
  padding-bottom: 20px;
}
.food-package {
  padding: 20px;
}
.food-package p {
  padding: 10px 20px;
}
.food-package h4 {
  font-size: 22px;
  margin-top: 25px;
}

/* Facilisis Section */
.facilisis {
  background-image: url(../assets/newsletter.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  color: white;
  position: relative;
  padding-bottom: 180px;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.26);
  padding: 80px 235px;
}
.news {
  padding: 0 150px;
}
.facilisis h4 {
  margin-bottom: 20px;
}
form {
  padding: 20px 40px;
  position: relative;
}
.cstm-input {
  border-radius: 30px;
  background-color: transparent;
  padding: 8px 25px;
  border: 1px solid white;
}
.cstm-input::placeholder {
  color: white;
  font-weight: 300;
}
.submit-btn {
  padding: 9px 50px;
  border-radius: 30px;
  background-color: white;
  border: none;
  position: absolute;
  top: 20px;
  right: 25px;
}

.ante {
  padding-bottom: 0px;
}
.ante-container {
  padding: auto 100px !important;
}
.ante-text {
  padding: 0 40px;
}
.ante-text h4 {
  margin: 20px 0px;
}
.ante-text p {
  margin: 20px 0px;
}

.ante-img {
  padding: 0 40px;
}
.ante-btn-1 {
  background-color: #dd4b2b;
  color: white;
}
.ante-btn-2 {
  background-color: #4b4e73;
  color: white;
}

.placerat {
  background-color: #d75d0e;
  text-align: center;
  color: white;
  padding-top: 60px;
  margin-top: 100px;
  padding-bottom: 60px;
}

footer {
  background-image: url(../assets/newsletter.png);
  background-size: cover;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Header */
  header {
    padding-top: 230px;
  }
  .food-menu {
    padding-top: 40px;
  }
  .food-item {
    margin-top: 40px;
  }
  .food-item p {
    padding-top: 5px;
  }

  /* fusce section */
  .food-package {
    margin-bottom: 40px;
  }

  /* newsletter section */
  .overlay {
    padding: 60px 0px;
  }

  .news {
    padding: 0;
  }
  .submit-btn {
    padding: 9px 36px;
  }

  /* Ante section */
  .ante {
    padding-top: 90px;
    text-align: center;
  }
  /* Blandit section */

  /* Placerat section */
  .placerat p {
    margin-bottom: 10px;
  }
  /* Footer */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Header */
  .food-item {
    margin-top: 40px;
  }
  .food-item p {
    padding-top: 5px;
  }

  /* fusce section */
  .food-package {
    margin-bottom: 40px;
  }

  /* newsletter section */
  .overlay {
    padding: 80px 120px;
  }
  .news {
    padding: 0;
  }

  /* Ante section */
  .ante {
    padding-top: 90px;
    text-align: center;
  }
  /* Blandit section */

  /* Placerat section */

  /* Footer */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Header */

  /* fusce section */
  .food-package p {
    padding: 10px 0px;
  }
  .header-btn {
    padding: 10px 40px;
  }
  /* newsletter section */
  .news {
    padding: 0px;
  }
  .submit-btn {
    padding: 9px 40px;
  }
  /* Ante section */
  .ante {
    padding-top: 70px;
  }
  .ante-img {
    margin-top: 50px;
  }
  /* Blandit section */

  /* Placerat section */

  /* Footer */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Header */

  /* fusce section */

  /* newsletter section */
  .news {
    padding: 0 40px;
  }
  /* Ante section */

  /* Blandit section */

  /* Placerat section */

  /* Footer */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
